@import "src/style/shared.scss";

$el-color: $yellow;
$el-color-blocked: rgba($yellow, 0.5);

.StepButton {
  border-radius: px(40);

  @include font-size(16, 24, -0.5);
  color: $el-color;
  @include font-secondary;
  border: solid 2px $el-color;
  background-color: transparent;
  padding: 10px 40px;

  &:disabled {
    color: $el-color-blocked;
    border-color: $el-color-blocked;
  }

  &.selected,
  &:hover {
    background-color: $yellow;
    color: $blue;
  }
}
