## -------- Welcome to the Jam3 gitignore --------
##
## Please add your ignores ordered by topics.
## See https://help.github.com/ignore-files/ for more about ignoring files.

## Environment
.env

## WordPress files
wp-container
