@import "src/style/shared.scss";

.Wizard {
  margin: 0 $padding-sides px(50);

  padding-bottom: px(50);
  border-bottom: 2px solid $yellow;

  .admin-skip-steps {
    position: absolute;
    right: 10%;
    bottom: px(50);

    button {
      color: $yellow;
      background-color: transparent;
    }
  }

  .BackButton {
    position: absolute;
    top: 150px;
    left: 50px;
  }
}
