@import "src/style/shared.scss";

.Header {
  @include flex-center-vert;
  color: $white;
  padding-top: px(55);
  padding: px(55) $padding-sides px(45);
  height: $header-height;

  .back-home-container {
    margin-left: px(21);
    padding-left: px(21);
    border-left: 1px solid rgba($white, 0.1);
    text-transform: uppercase;
    @include font-size(12, 16, 0.5);
  }

  .step-counter {
    margin-left: auto;
    align-self: flex-start;
    text-transform: uppercase;
    @include font-size(12, 16, 0.5);
  }
}
